html{
    background-color: rgba(192, 195, 252, 0.082);
}
h1{
    color: rgb(117, 0, 226);
    margin-left: auto;
    margin-right: auto;
    width: 15em
}
h2{
    margin-left: auto;
    margin-right: auto;
    width: 20em
}
h3{
    margin-left: auto;
    margin-right: auto;
    width: 20em
}
p{
    color: rgba(24, 3, 93, 0.71);
    margin-left: auto;
    margin-right: auto;
    width: 35em
}
image{
    margin-left: auto;
    margin-right: auto;
}
ul{
    margin-left: auto;
    margin-right: auto;
}